.feature-background {
  background: #888C8F;
  color: #FFFFFF;
  background: -moz-radial-gradient(center, ellipse cover, #888C8F 0%, #000000 80%);
  background: -webkit-radial-gradient(center, ellipse cover, #888C8F 0%, #000000 80%);
  background: radial-gradient(ellipse at center, #888C8F 0%, #000000 80%);
  padding: 30px 50px 30px 50px;
}

.red-background {
  background: #DD1E25;
  color: #FFFFFF;
  padding: 10px 5px 10px 5px;
}

.shadow-background {
  background: #f5f5f5;
  color: #888C8F;
  padding: 30px 50px 30px 50px;
  background-image: url(/sites/all/themes/aesbs337/images/graphics/section-shadow.png);
  background-position: top;
  background-repeat: no-repeat;
}

#block-system-main {
  /* main content block */
  margin-bottom: 35px;
}

.breadcrumb-extension {
  /* header image */
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 5em 0 5em 0;
  background-color: #002a5b;
  background-image: url(/sites/avtreliability.com/files/headerbackground.jpg);
  background-blend-mode: multiply;
  background-attachment: fixed;
}

.breadcrumb-extension-front {
  /* header image */
  position: relative;
  background-repeat: no-repeat;
  padding: 30px 0px 0px 0px;
}

.avt-helix {
  /* helix image on header */
  z-index: 1;
}

.hexagon-wrap {
  margin-top: -20px;
  margin-bottom: -85px;
  margin-left: 30px;
}

/*Hexagon shapes*/
.hexagon-col {
  z-index: 1;
}

.front .hexagon-col {
  z-index: 2;
  position: absolute;
}

.front .block-search {
  z-index: 3;
}

.hexagon {
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
  width: 300px;
  height: 150px;
  margin: 0 0 10px 0px;
}

.hexagon.hexagon-inside {
  margin-top: -155px;
  width: 280px;
  height: 140px;
  margin-left: 10px
}

.hexagon-in1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.hexagon-in2 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #fff;
  visibility: visible;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.hexagon-iceberg {
  margin-top: -7.6em;
}

.hexagon-in2.hexagon-inside {
  background-image: url('http://placehold.it/180x180');
  background-color: #fff;
}

#hexagon-wrap-front .hexagon-in2.hexagon-inside {
  background: #cccccf;
  background-color: #cccccf;
}

#hexagon-wrap-front .hexagon-top .hexagon-in2.hexagon-inside {
  background-image: url('/sites/all/themes/avt_bs/images/AVT-Helix.jpg');
  background-size: contain;
  background-position: center;
  width: 100%;
}

#hexagon-wrap-front .hexagon-right .hexagon-in2.hexagon-inside {
  background-image: url('/files/graphics/home/machine-sentry-hexagon-1.png');
  background-size: contain;
  background-position: center;
  width: 100%;
  background-color: #eeeeee;
}

#hexagon-wrap-front .hexagon-right .hexagon-in2.hexagon-inside:hover {
  background-color: #cccccf;
}

#hexagon-wrap-front .hexagon-bottom .hexagon-in2.hexagon-inside {
  background-image: url('/files/graphics/home/machine-sentry-hexagon-2.png');
  background-size: contain;
  background-position: center;
  width: 100%;
}

#hexagon-wrap-consulting .hexagon-top .hexagon-in2.hexagon-inside {
  background-image: url('/files/graphics/hextop-consultancy-1.png');
}

#hexagon-wrap-consulting .hexagon-bottom .hexagon-in2.hexagon-inside {
  background-image: url('/files/graphics/hexbottom-consultancy-1.png');
}

#hexagon-wrap-consulting .hexagon-left .hexagon-in2.hexagon-inside {
  background-image: url('/files/graphics/blank.png');
}

#hexagon-wrap-consulting .hexagon-right .hexagon-in2.hexagon-inside {
  background-image: url('/files/graphics/hexright-consultancy-1.png');
}

#hexagon-wrap-services .hexagon-top .hexagon-in2.hexagon-inside {
  background-image: url('/files/graphics/hextop-services-1.png');
}

#hexagon-wrap-services .hexagon-bottom .hexagon-in2.hexagon-inside {
  background-image: url('/files/graphics/hexbottom-services-1.png');
}

#hexagon-wrap-services .hexagon-left .hexagon-in2.hexagon-inside {
  background-image: url('/files/graphics/blank.png');
}

#hexagon-wrap-services .hexagon-right .hexagon-in2.hexagon-inside {
  background-image: url('/files/graphics/hexright-services-1.png');
}

#hexagon-wrap-products .hexagon-top .hexagon-in2.hexagon-inside {
  background-image: url('/files/graphics/hextop-products-1.png');
}

#hexagon-wrap-products .hexagon-bottom .hexagon-in2.hexagon-inside {
  background-image: url('/files/graphics/hexbottom-products-1.png');
}

#hexagon-wrap-products .hexagon-left .hexagon-in2.hexagon-inside {
  background-image: url('/files/graphics/blank.png');
}

#hexagon-wrap-products .hexagon-right .hexagon-in2.hexagon-inside {
  background-image: url('/files/graphics/hexright-products-1.png');
}

#hexagon-wrap-training .hexagon-top .hexagon-in2.hexagon-inside {
  background-image: url('/files/graphics/hextop-training-1.png');
}

#hexagon-wrap-training .hexagon-bottom .hexagon-in2.hexagon-inside {
  background-image: url('/files/graphics/hexbottom-training-1.png');
}

#hexagon-wrap-training .hexagon-left .hexagon-in2.hexagon-inside {
  background-image: url('/files/graphics/blank.png');
}

#hexagon-wrap-training .hexagon-right .hexagon-in2.hexagon-inside {
  background-image: url('/files/graphics/hexright-training-1.png');
}

#hexagon-wrap-media .hexagon-top .hexagon-in2.hexagon-inside {
  background-image: url('/files/graphics/hextop-media-1.png');
}

#hexagon-wrap-media .hexagon-bottom .hexagon-in2.hexagon-inside {
  background-image: url('/files/graphics/hexbottom-media-1.png');
}

#hexagon-wrap-media .hexagon-left .hexagon-in2.hexagon-inside {
  background-image: url('/files/graphics/blank.png');
}

#hexagon-wrap-media .hexagon-right .hexagon-in2.hexagon-inside {
  background-image: url('/files/graphics/hexright-media-1.png');
}

#hexagon-wrap-about .hexagon-top .hexagon-in2.hexagon-inside {
  background-image: url('/files/graphics/hextop-about-1.png');
}

#hexagon-wrap-about .hexagon-bottom .hexagon-in2.hexagon-inside {
  background-image: url('/files/graphics/hexbottom-about-1.png');
}

#hexagon-wrap-about .hexagon-left .hexagon-in2.hexagon-inside {
  background-image: url('/files/graphics/blank.png');
}

#hexagon-wrap-about .hexagon-right .hexagon-in2.hexagon-inside {
  background-image: url('/files/graphics/hexright-about-1.png');
}

.hexagon-left {
  position: absolute;
  margin-left: -446px;
  margin-top: -83px;
}

.hexagon-right {
  position: absolute;
  margin-left: -154px;
  margin-top: -83px;
}

#sidebar-button {
  width: 100%;
}

.resource-block .views-submit-button .form-submit {
  margin-top: 0;
}

#block-views-exp-search-page .views-exposed-form .views-exposed-widget {
  padding-right: 0;
  padding-top: 15px;
  width: auto;
}

#block-views-exp-search-page #edit-search-api-views-fulltext-wrapper {
  float: left;
  width: 75%;
}

#block-views-exp-search-page #edit-search-api-views-fulltext--2-wrapper {
  float: left;
  width: 75%;
}

#block-views-exp-search-page button {
  margin-top: 10px;
  display: block;
  margin: 0 auto;
}

#block-views-exp-search-page .views-submit-button {
  float: right;
}

.rrssb-buttons li a {
  border-bottom: none;
}

.rrssb-buttons li.rrssb-linkedin a, .rrssb-buttons li.rrssb-email a, .rrssb-buttons li.rrssb-twitter a, .fa-linkedin{
  background-color : #002a5b;
}

.rrssb-buttons li.rrssb-linkedin a:hover, .rrssb-buttons li.rrssb-email a:hover, .rrssb-buttons li.rrssb-twitter a:hover, {
  background-color : #00428e;
}

.fa-linkedin{
  color : #002a5b;
}

.fa-linkedin:hover{
  color : #00428e;
}

/* light grey background */
.ca-grey-block {
  width: 100%;
  background-color: #F5F5F5;
  border: 1px solid #b3b3b3;
  margin: 50px 0;
}

/* blue section */
.ca-blue-block {
  background-color: #002a5b;
  width: 35%;
  color: white !important;
  float: right;
  top: -390px;
  right: 40px;
  margin-bottom: -350px;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(97, 97, 97, 1);
  -moz-box-shadow: 0px 0px 18px 0px rgba(97, 97, 97, 1);
  box-shadow: 0px 0px 18px 0px rgba(97, 97, 97, 1);
}

/*Positioning of the forms*/
.view-display-id-block_1 .ca-blue-block {
  top: -410px;
}

.view-display-id-block_6 .ca-blue-block,
.view-display-id-block_3 .ca-blue-block {
  top: -375px;
}

.view-display-id-block_7 .ca-blue-block,
.view-display-id-block_9 .ca-blue-block,
.view-display-id-block_10 .ca-blue-block {
  top: -360px;
}

.view-display-id-block_8 .ca-blue-block {
  top: -350px;
}

.ca-blue-block .form-control {
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3);
  border: 1px solid #999;
  padding: 0 7px;
}

.ca-blue-block button {
  background-color: transparent;
  color: #fff;
  border-radius: 0px;
  border: 1px solid white;
  display: block;
  margin: 0 auto;
  transition: .3s;
}

.ca-blue-block button:hover {
  background-color: #fff;
  color: #535454;
  transition: .3s;
}

section.block-menu-block .block-title {
  display: none;
}

/* contact us well block */
.contact-us-well {
  padding-top: 40px;
}

.grey-background{
  background-color: #d6d6d6;
  padding: 0.5em;
}

.media-center-block{
  background-image: url('/sites/avtreliability.com/files/pictures/Slider-DNA-big.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  color: #535354;
}

.vertical-grey-gradient{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e5e5e7+0,ffffff+101 */
background: #e5e5e7;
background: -moz-linear-gradient(top,  #e5e5e7 0%, #ffffff 101%);
background: -webkit-linear-gradient(top,  #e5e5e7 0%,#ffffff 101%);
background: linear-gradient(to bottom,  #e5e5e7 0%,#ffffff 101%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e7', endColorstr='#ffffff',GradientType=0 );
}

.avt-search{
  padding: 2em;
}

.avt-search .form-group{
  margin-right: 2em;
}

/*Machine sentry grey background */
.ms-grey-block {
  width: 100%;
  background-color: #efefef;
  padding: 40px 30px;
  margin-bottom: 150px;
}

/*General enquiry form grey background */
.general-enquiry-block {
  background-color: #E5E5E7;
  padding: 30px 0;
}

/*RRSSB*/
.rrssb-item-list {
  max-width: 1140px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

#block-rrssb-rrssb {
  text-align: center;
  margin-bottom: 20px;
  max-width: 60vw;
  margin: 0px auto;
}

/* Main dark grey block footer */
.footer_lower {
  background-color: #4F4F4F;
}

.bottom-footer-block {
  padding: 50px 0 10px
}

/*share this page header*/
.share-header {
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer-menu {
  background-color: #4F4F4F;
  text-align: center;
}

.footer-menu li {
  display: inline-block;
}

.footer-menu a {
  color: white;
}

.footer-menu a:hover {
  text-decoration: none;
  background-color: #e5e5e7;
  color: #535454;
  border-bottom: none;
}

.footer-menu li a.active {
  text-decoration: none;
  background-color: #e5e5e7;
  color: #535454;
  border-bottom: none;
}

@media (max-width: 767px) {
  .avt-helix {
    display: none;
  }

  .header-title-2 {
    padding-left: 0px !important;
  }

  .breadcrumb-extension{
    background-size: cover;
  }

  #breadcrumb-extension-consulting {
    background-attachment: initial;
  }

  #breadcrumb-extension-services {
    background-attachment: initial;
  }

  #breadcrumb-extension-products {
    background-attachment: initial;
  }

  #breadcrumb-extension-training {
    background-attachment: initial;
  }

  #breadcrumb-extension-media {
    background-attachment: initial;
  }

  #breadcrumb-extension-about {
    background-attachment: initial;
  }

  /* more spacing above and below search bar on mobile */
  #block-search-form {
    margin: 30px 0;
  }

  .bottom-footer-block {
    padding-top: 15px;
  }

  .footer {
    margin-top: 20px;
  }
  .avt-search{
    padding: 1em;
  }
}

@media screen and (min-width: 768px){
  .breadcrumb-extension{
    background-size: contain;
  }
}

@media (max-width: 990px) {
  .hexagon-col {
    display: none;
  }

  .avt-helix {
    max-width: 200px !important;
  }
}

@media(max-width: 991px) {
  .ca-blue-block {
    width: 100%;
    position: static !important;
    margin-top: 0;
    margin-bottom: 25px;
    right: 0;
  }

  .view-analysis-enquiry .view-header p, .call-to-action-table {
    width: 100%;
  }
}

@media (max-width: 992px){
  h1.page-header{
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .avt-helix {
    right: -135px !important;
  }

  .hexagon-wrap {
    margin-left: 0;
  }

  #block-views-exp-search-page #edit-search-api-views-fulltext-wrapper {
    width: 70%;
  }

  #block-views-exp-search-page #edit-search-api-views-fulltext--2-wrapper {
    width: 70%;
  }

  .hexagon-iceberg {
    margin-top: -7.9em;
  }
  .avt-search{
    padding: 2em;
  }
}

@media screen and (min-width: 1200px) {
  .hexagon-iceberg {
    margin-top: -6.9em;
  }
  .avt-search{
    padding: 2em;
  }
  .breadcrumb-extension{
    background-size: cover;
    background-position: 25%;
  }
}

/*Internet Explorer media query*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #breadcrumb-extension-consulting {
    background-image: none;
    background-color: #002a5b;
  }

  #breadcrumb-extension-services {
    background-image: none;
    background-color: #002a5b;
  }

  #breadcrumb-extension-products {
    background-image: none;
    background-color: #002a5b;
  }

  #breadcrumb-extension-training {
    background-image: none;
    background-color: #002a5b;
  }

  #breadcrumb-extension-media {
    background-image: none;
    background-color: #002a5b;
  }

  #breadcrumb-extension-about {
    background-image: none;
    background-color: #002a5b;
  }
}

/*Unique RRSSB CSS*/
@media all and (min-width: 1247px) {
  .rrssb-item-list {
    margin-bottom: 60px;
    /* more spacing on larger screens */
  }

  #block-rrssb-rrssb {
    padding-bottom: 25px;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
  .breadcrumb-extension{
    background-color: #002A5B;
  }
}

@supports (-ms-ime-align:auto) {
  .breadcrumb-extension{
    background-color: #002A5B;
  }
}
