.override-fluid {
  margin: 0px 0px;
}

html, body {
  height: 100%;
}

.navbar.container-fluid{
  margin-top: 0;
}

.container-fluid>.navbar-collapse{
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}

a.logo.navbar-btn.pull-left{
  margin: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
}

.breadcrumb-wrap {
  background-color: #d6d6d6;
  color: #696969;
}

.breadcrumb a{
  color: #535354;
}

.breadcrumb a:hover{
  color: #6c6c6e;
  border-bottom: 1px dashed #6c6c6e;
}

.breadcrumb>li+li:before{
  color: #535354;
}

.breadcrumb > .active{
  color: #ffffff;
}

.region-content{
  margin: 1em;
}

.page-node-5 .region-content{
  margin: 0;
}

.page-node-5 .breadcrumb-wrap{
  margin-bottom: 0;
}

.page-node-5 .footer{
  top: 0;
}

.front .region-content {
    margin: 0;
}

.front .page-header{
  margin-bottom: 0;
}

.container-media-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.ms-row-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.container.navbar-container {
  padding: 0 30px;
}

.navbar-nav {
  margin: 0;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #dd1e25;
}

p.navbar-toggle{
  border: none;
  margin: 0 15px;
  padding: 12px 0;
}

.navbar-toggle{
  margin-right: 2em;
}

.region-sidebar-first {
  background-color: white;
}

.region-sidebar-first a.active {
  background-color: #e5e5e7;
}

.footer {
  border-radius: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  position: relative;
  clear: both;
}

.footer-menu {
  background-color: #4F4F4F;
  text-align: center;
}

.footer-menu ul .leaf {
  display: inline-block;
}

.footer-menu ul .leaf a {
  color: white;
}

.footer-menu ul .leaf a:hover {
  color: #535454;
  background-color: #e5e5e7;
  border-bottom: none;
}

.darkgrey-footer {
  color: white;
  background-color: #4F4F4F;
}

#footertop {
  padding-bottom: 30px;
}

#footerbottom {
  text-align: center;
}

@media screen and (max-width: 767px){
  .row-eq-height-header{
    display: block;
  }
}

@media screen and (min-width: 768px){
  .navbar-nav{
    padding-left: 0;
  }
  .navbar.container-fluid{
    background: none;
    border: none;
  }
  .row-eq-height-header{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 768px) {
  aside {
    margin-top: 25px !important;
  }
}

@media (max-width: 990px) {
  .breadcrumb {
    margin-left: 0;
  }
}
